$font-family: Arial, Helvetica, sans-serif;
$background-color-header: #f1f1f1;
$background-color-footer: #b7adadc4;
$color-nav-link: #333;
$color-nav-link-hover: #007bff;
$color-button: #007bff;
$color-button-hover: #0056b3;
$color-button-text: #ffffff;